extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.inner-wrapper.box
    h1 500 - Internal Server Error
    p Sorry, something went wrong on our end.

  nav.nav
    a(href='/')
      span &larr;
      |  Back