extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Robert

        p Full Stack JavaScript Developer


        .about-bio

          p As a passionate Full Stack JavaScript Developer with over [X] years of experience, I thrive on transforming innovative ideas into dynamic, user-friendly web applications. Proficient in both front-end and back-end technologies such as React, Node.js, and Express, I excel in creating seamless, high-performance applications. My experience spans across designing intuitive interfaces, developing robust server-side logic, and ensuring optimal performance and security. I am eager to bring my technical expertise and creative problem-solving skills to [Company], contributing to cutting-edge projects and delivering exceptional user experiences.

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 555-555-1234
          li email@email.com

        a.btn-link(href='https://www.linkedin.com/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/', target='_blank') GitHub
        a.btn-link(href='https://x.com/', target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back