extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 My Portfolio

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p As a proficient Full Stack Web Developer, I specialize in building comprehensive and dynamic web applications from concept to deployment. With a solid foundation in both front-end and back-end technologies, I create seamless user experiences and robust server-side functionality. I am passionate about writing clean, efficient code and continuously learning the latest technologies to enhance my skills. My approach to development is collaborative, ensuring that every project I work on is both functional and scalable. I thrive in dynamic environments where I can solve complex problems and contribute to the success of innovative web projects.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file  
      
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

        .cell
          a(href='#')
            img.thumbnail(src='https://placehold.it/550x550', alt='')
            h5 My Site

